<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="line-scale-party"
>
  <p style="font-size: 20px; color: white">Loading...</p>
  ></ngx-spinner
>
<div *ngIf="expression" class="container mt-5">
  <div
    class="row row d-flex justify-content-center text-center h-100 d-inline-block"
  >
    <div class="col py-2 mt-4">
      <h1 class="heading ">Coronavirus (COVID-19) Global Stats</h1>
    </div>
  </div>
  <div
    class="row row d-flex justify-content-center text-center h-100 d-inline-block"
  >
    <div class="col col-md-5 py-2 ">
      <div class="card shadow rounded" style="width: 21rem; height:auto ;">
        <div class="card-body">
          <h5 class="card-title" *ngIf="CurrentStats">
            Current Stats
          </h5>
          <h5 class="card-title" *ngIf="DataStats">
            {{ showDate }}
          </h5>
          <!-- <br />
          <p class="card-text-text">
            Total Confirmed Cases
          </p>
          <p class="abc confrm">{{ confirmedCases }}</p>
          <br />
          <p class="card-text-text">
            Total Recovered
          </p>
          <p class="abc recover">{{ recoveredCases }}</p>
          <br />
          <p class="card-text-text">
            Total Deaths
          </p>
          <p class="abc death">{{ deathsCases }}</p>
          <br /> -->

          <ngx-charts-number-card
            class="chart"
            [view]="view"
            [scheme]="colorScheme"
            [results]="single"
            [cardColor]="cardColor"
            (select)="onSelect($event)"
          >
          </ngx-charts-number-card>

          <div class="col-xs-12 col-12 col-sm-6 col-md-12 ">
            <div
              class="input-group mb-3 custom-content"
              [ngClass]="{ datePicker: true }"
            >
              <input
                type="text"
                ngModel
                required
                readonly
                #info
                bsDatepicker
                value=""
                [minDate]="minDate"
                [maxDate]="maxDate"
                class="form-control"
                placeholder="Select Date..."
                aria-describedby="button-addon2"
              />
              <div class="input-group-append">
                <button
                  class="btn btn-success"
                  type="button"
                  id="button-addon2"
                  (click)="CheckStats(info)"
                >
                  Check
                </button>
              </div>
            </div>
            <button
              *ngIf="RefreshButton"
              type="button"
              class="btn btn-secondary col-sm-9 mt-2"
              (click)="SetCurrentStats()"
            >
              Refresh
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col col-md-7 py-2 ">
      <!-- <div>
        <canvas
          baseChart
          chartType="doughnut"
          [data]="doughnutChartData"
          [labels]="doughnutChartLabels"
          [options]="chartOptions"
          [legend]="true"
        >
        </canvas>
      </div> -->
      <app-bar-chart
        [confirmedCases]="confirmedCases"
        [recoveredCases]="recoveredCases"
        [deathsCases]="deathsCases"
      ></app-bar-chart>
    </div>
  </div>
</div>
