.heading {
  font-family: "Arial Narrow Bold", sans-serif;
  font-size: 34px;
  padding: 14px;
}
.card-title {
  font-size: 27px;
  font-weight: bolder;
  color: #000000;
}
.card-text-text {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 17px;
  font-weight: bold;
}

.chart {
  margin-left: 300px;
}
.lastupdate {
  margin-top: -14px;
  color: silver;
}

/* .card {
  background: rgba(255, 255, 255, 0.8);
} */
/* .row { */
/* height: 100vh; */
/* background-position: center; */
/* background-repeat: no-repeat; */
/* background-size: cover; */
/* background-image: url("../../../../assets/outbreak-coronavirus-world.png"); */
/* background-image: url("https://media.nbcnewyork.com/2019/09/coronavirus-map-animated-thumb.gCif?crop&resize=850%2C478"); */

/* background-image: url("https://www.who.int/images/default-source/big-stories/influenza-spotlight/flu-mapefd19d804815422a840a7899773951f0.gif?sfvrsn=4699e731_4"); */
/* } */
.card-text {
  font-size: 20px;
}

.pieChart {
  width: 400px;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {
  /* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
  /* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* Styles */
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  /* Styles */
  .row {
    height: 91.9vh;
  }
}

/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  /* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min-device-pixel-ratio: 1.5) {
}

/*###Desktops, big landscape tablets and laptops(Large, Extra large)####*/
@media screen and (min-width: 1024px) {
  /*Style*/
}

/*###Tablet(medium)###*/
@media screen and (min-width: 768px) and (max-width: 1023px) {
  /*Style*/
}

/*### Smartphones (portrait and landscape)(small)### */
@media screen and (min-width: 0px) and (max-width: 767px) {
  /*Style*/
  .row {
    height: 100vh;
    margin-top: -10px;
  }
  .Barchart {
    margin-left: 0px;
    margin-top: -40px;
  }
  .heading {
    margin-top: 4px;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    font-size: 20px;
  }
  .lastupdate {
    margin-top: -30px;
    padding-bottom: 10px;
  }
}
