.heading {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 38px;
}
.card-title {
  font-size: 27px;
  font-weight: bolder;
  color: white;
  text-shadow: 10px 10px 10px black;
}
.ngx-charts-number-card {
  margin-left: 100px;
}
.card {
  background: rgba(33, 37, 41, 0.5);
}
.row {
  /* height: 89.9vh; */
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-image: url("../../../../assets/outbreak-coronavirus-world.png"); */
  /* background-image: url("https://media.nbcnewyork.com/2019/09/coronavirus-map-animated-thumb.gCif?crop&resize=850%2C478"); */

  background-image: url("https://www.who.int/images/default-source/big-stories/influenza-spotlight/flu-mapefd19d804815422a840a7899773951f0.gif?sfvrsn=4699e731_4");
}
.card-text {
  font-size: 20px;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {
  /* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
  /* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* Styles */
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  /* Styles */
}

/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  /* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min-device-pixel-ratio: 1.5) {
}

/*###Desktops, big landscape tablets and laptops(Large, Extra large)####*/
@media screen and (min-width: 1024px) {
  /*Style*/
}

/*###Tablet(medium)###*/
@media screen and (min-width: 768px) and (max-width: 1023px) {
  /*Style*/
}

/*### Smartphones (portrait and landscape)(small)### */
@media screen and (min-width: 0px) and (max-width: 767px) {
  /*Style*/
  .row {
    height: 110vh;
    margin-top: -10px;
  }
  .heading {
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    font-size: 30px;
  }
}
