<div class="container">
  <div class="row map">
    <h1 class="mapheading">Coronavirus (COVID-19) map</h1>
    <div class="col-md-12">
      <div id="chart" class="chart">
        <ngx-spinner
          bdColor=""
          [fullScreen]="false"
          type="line-scale-party"
          size="medium"
          color="black"
        >
          <p class="loading" style=" font-size: 20px; color:black">
            Map Loading...
          </p>
        </ngx-spinner>
      </div>
    </div>
  </div>
  <!-- <ngx-spinner
    [fullScreen]="true"
    type="ball-clip-rotate-multiple"
    size="medium"
  >
    <p class="loading" style="font-size: 20px; color: white">Loading...</p>
  </ngx-spinner> -->

  <div *ngIf="loading" class="row d-flex justify-content-center mt-3 tableDiv">
    <div class="col-md-12 px-4 py-2  ">
      <nav class="navbar navbar-expand-lg navbar-light">
        <input
          class="form-control mr-sm-0 input"
          type="search"
          placeholder="Search by Country..."
          aria-label="Search"
          [(ngModel)]="search"
          name="Search"
        />
      </nav>
      <div class="table-responsive">
        <table class="table table-hover border bg-white">
          <thead class="bg-light ">
            <tr>
              <th scope="col"></th>
              <th scope="col">Countries</th>
              <th scope="col">Confirmed</th>
              <th scope="col">Recovered</th>
              <th scope="col">Deaths</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td style="width: 3%" class="">
                <img
                  style="width: 23px;"
                  src="../../../assets/flags icon/{{
                    CurrentCountry.Country_Region
                  }}.png"
                  alt="..."
                  class="img border"
                />
              </td>
              <td>{{ CurrentCountry.Country_Region }}</td>
              <td>{{ CurrentCountry.Confirmed }}</td>
              <td>{{ CurrentCountry.Recovered }}</td>
              <td>{{ CurrentCountry.Deaths }}</td>
            </tr>
            <tr
              (click)="getRow(info)"
              *ngFor="
                let item of CountryDataList
                  | filter: search
                  | orderBy: '-Confirmed';
                index as i
              "
            >
              <td style="width: 3%" class="">
                <img
                  style="width: 23px;"
                  src="../../../assets/flags icon/{{ item.Country_Region }}.png"
                  alt="..."
                  class="img border"
                />
              </td>
              <td style="width: 54.66%" #info>{{ item.Country_Region }}</td>
              <td>{{ item.Confirmed }}</td>
              <td>{{ item.Recovered }}</td>
              <td>{{ item.Deaths }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
